.header {
  height: 60px;
  border-bottom: 1px solid #F2F2F2;
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.5019607843);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
}

.menu {
  display: flex;
  list-style-type: none;
  gap: 20px;
}
.menu__item {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 3px;
}
.menu__item-highlighted {
  color: #C22F2F;
}

.utilities {
  display: flex;
  align-items: center;
}

.language-switcher {
  padding-right: 20px;
  padding-left: 15px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 3px;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
header,
p,
ol,
ul,
li,
input,
label,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  line-height: 1;
}

* {
  box-sizing: border-box;
}

.shop {
  padding: 40px 100px;
  display: flex;
  gap: 28px;
}

.card {
  padding: 16px;
  border: 1px solid #EBEBEB;
  border-radius: 10px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.3019607843);
  width: 25%;
}
.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.card__badge {
  border-radius: 50px;
  background: #C22F2F;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
  color: #FFFFFF;
  padding: 4px 8px;
}
.card__code {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  color: #939399;
}
.card__image {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  background-repeat: no-repeat;
  background-size: contain;
}
.card__description {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
  text-align: justify;
  margin-bottom: 12px;
}
.card__rating {
  display: flex;
  gap: 2px;
}
.card__prices {
  margin-top: 12px;
}
.card__price {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}
.card__price-crossed {
  color: #939399;
  text-decoration: line-through;
  font-size: 12px;
  margin-bottom: 4px;
}
.card__price-discount {
  color: #C22F2F;
  font-size: 14px;
}
.card__purchase {
  background: none;
  background-image: url("/assets/images/shop/basket.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  cursor: pointer;
}
.card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card:nth-of-type(1) .card__rating .star:nth-of-type(5) {
  background-image: url("/assets/images/shop/unfilled-star.png");
}

.star {
  background-image: url("/assets/images/shop/filled-star.png");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}

.float {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-end;
  cursor: pointer;
}
.float__button {
  border: none;
  background: transparent;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.float__button-compare {
  background-image: url("/assets/images/compare.png");
}
.float__button-favourite {
  background-image: url("/assets/images/favourite.png");
}

/*# sourceMappingURL=style.css.map */
